body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    justify-content: center;
}

nav {
    display: flex;
    background-color: rgb(13, 13, 13); /* Cambia el color de fondo a negro */
    border-top: 1px solid #000; /* Línea horizontal negra */
    padding: 10px; /* Añade un espacio interno para mejorar la apariencia */
    align-items: center;
   
}

.menu1, .menu2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu1 li, .menu2 li {
    margin-right: 10px;
    background-color: #000;
    color: #fff; /* Cambia el color del texto a blanco */
}

.menu2 {
    margin-left: auto;
}

.cerrar-session button {
    background-color: red;
    color: white;
}

.menu-link {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: inherit; /* Hereda el color del texto de su contenedor */
    cursor: pointer;
    padding: 8px 15px;
    display: inline-block;
}

.menu-link:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
    color: #fff; /* Cambia el color del texto al pasar el ratón sobre el enlace */
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*************Estilo body***********************************************************************/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}

.titulo {
    color: #333;
}

.main-contacto {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contenido-contacto {
    flex: 1;
    margin-right: 20px;
}

.intro {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}

.formulario-contacto {
    margin-top: 20px;
}

form {
    display: grid;
    grid-gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1a73e8;
}

.info-contacto {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.info-contacto h2 {
    color: #333;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}




/**************Estilo de footer*****************************************************************/
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}