body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    justify-content: center;
}

nav {
    display: flex;
    background-color: rgb(13, 13, 13); /* Cambia el color de fondo a negro */
    border-top: 1px solid #000; /* Línea horizontal negra */
    padding: 10px; /* Añade un espacio interno para mejorar la apariencia */
    align-items: center;
   
}

.menu1, .menu2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu1 li, .menu2 li {
    margin-right: 10px;
    background-color: #000;
    color: #fff; /* Cambia el color del texto a blanco */
}

.menu2 {
    margin-left: auto;
}

.cerrar-session button {
    background-color: red;
    color: white;
}

.menu-link {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: inherit; /* Hereda el color del texto de su contenedor */
    cursor: pointer;
    padding: 8px 15px;
    display: inline-block;
}

.menu-link:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
    color: #fff; /* Cambia el color del texto al pasar el ratón sobre el enlace */
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/***************************Estilo normal************************************************/

h2 {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

h2 + hr {
    margin-top: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Añade espacio entre las tablas */
}

/* Estilo de la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 40px;
}

th, td {
    border: 2px solid #ddd;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

tfoot {
    font-weight: bold;
}

tfoot {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.table-container table:nth-child(1) button {
    margin-bottom: 10px;
}
button:hover {
    background-color: #d60000; 
}


/****************************Footer**********************************************/
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}